.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  grid-area: bottom;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
}

.playerButtons {
  gap: 18px;
}

.playButton {
  background-color: #ffffff;
  color: #000000;
  width: 32px;
  height: 32px;
  border-radius: 30px;
}

input[type="range"] {
  border: none;
  outline: none;
  height: 4px;
}

.progress {
  margin: 0 1rem;
  accent-color: #fff;
}

.progress:hover {
  accent-color: #1ed760;
}

.time {
  font-size: 0.75rem;
}

.volumeWrapper {
  gap: 0.5rem;
}

.volume {
  background-color: hsla(0, 0%, 100%, .3);
  accent-color: #fff;
}

.volume:hover {
  accent-color: #1ed760;
}