body {
  background-color: #000;
  height: 100vh;
  overflow-y: hidden;
}

button:hover {
  transform: scale(1.04);
}

.flex {
  display: flex;
  align-items: center;
}

.button {
  color: #000;
  background-color: #fff;
  border-radius: 30px;
  font-weight: 700;
  padding: 10px 15px;
}

/* Grid */
.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  gap: 8px;
  padding: 8px;
  grid-template-areas:
    "menu menu"
    "left right"
    "bottom bottom";
}

/* Menu */
.header {
  grid-area: menu;
  height: 64px;
  justify-content: space-between;
  margin: calc(8px*-1);
  padding: 8px;
}

.logo img {
  height: 32px;
  margin: 14px 18px;
}

.header .logo, .header .actions {
  flex: 1;
}

.header .actions {
  justify-content: end;
  gap: 18px;
}

.header .home {
  background-color: #1f1f1f;
  border-radius: 30px;
  display: block;
  width: 48px;
  height: 48px;
  padding: 12px;
}

.header .search {
  flex: 1;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.header .search-box {
  background-color: #1f1f1f;
  height: 48px;
  border-radius: 30px;
}

.header .search-box input {
  background: transparent;
  padding: 12px 84px 12px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header .search-box .navigation-btn {
  border-inline-start: 1px solid #b3b3b3;
}

.search-box .search-icon {
  margin: 12px;
}

.search-box .navigation-icon {
  margin: 0 12px;
}

.header .download, .header .signup {
  font-weight: 700;
  font-size: 14px;
}

.header .download span {
  margin: 0 4px;
}

.header .login {
  height: 48px;
  padding: 0 30px;
}

/* Sidebar */
.sidebar {
  grid-area: left;
  width: 403px;
  background: #121212;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar-header {
  padding: 4px 24px;
  justify-content: space-between;
  gap: 8px;
}

.sidebar-header span {
  padding-left: 10px;
  font-weight: 700;
}

.sidebar-card {
  background-color: #1f1f1f;
  font-size: 14px;
  border-radius: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 16px 20px;
  margin: 8px
}

.sidebar-card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-card h1 {
  font-size: 16px;
}

.sidebar-card p {
  font-weight: 600;
}

.sidebar-footer ul {
  font-size: 11px;
  padding: 0 24px;
  margin: 24px 0;
  display: flex;
  flex-wrap: wrap;
}

.sidebar-footer li {
  margin: 0 20px 20px 0;
}

.sidebar-footer button {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 0 24px;
  padding: 5px 15px;
  border: 1px solid #fff;
  border-radius: 30px;
}

.sidebar-footer button .lucide {
  margin-inline-end: 5px;
}

/* Main Panel */
.main-panel {
  grid-area: right;
  background-color: #121212;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 8px;
  padding: 25px;
}

.main-panel h1 {
  font-size: 24px;
  color: #ffffff;
  margin: 30px 0 20px;
}

.main-panel .cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 25px 0 40px;
}

.main-panel .card {
  border-radius: 8px;
  background: #555;
  height: 138px;
}

.card span {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 72px 16px 16px;
  display: inline-block;
}

.main-footer {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
}

.main-footer-nav {
  display: flex;
}

.main-footer-nav ul {
  margin: 0 24px 32px 0;
  flex: 2;
}
.main-footer-title {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}

.main-footer-nav ul li {
  margin-bottom: 8px;
}

.socials {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
}

.socials a {
  background-color: #292929;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.socials a svg {
  color: #fff !important;
}

.border {
  border: 0;
  border-block-start: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
}

/* Footer */
.footer {
  grid-area: bottom;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  background-image: linear-gradient(90deg, #af2896, #509bf5);
  padding: 15px 24px 15px 15px;
  line-height: 1.5;
}

.bold {
  font-weight: 700;
}

.footer p, .footer buttom {
  color: #ffffff;
}

.footer .button {
  height: 48px;
}

/* Scrollbar*/
::-webkit-scrollbar-track {
  background-color: #121212; /* Cor do fundo da trilha */
}

::-webkit-scrollbar-thumb {
  background-color: #5a5a5a; /* Cor do polegar */
  border-radius: 8px;
  height: 30px;
  transition: background-color 0.5s ease;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #898989;
}

/* Barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* Para barras verticais */
}